@CHARSET "UTF-8";

.ui-widget, .ui-widget .ui-widget {
	font-size: 90% !important;
}

/**
	001 - Bloco abaixo corrige a visualização de um menubar dentro de north layout
*/
.ui-layout-north {
    z-index:20 !important;
    overflow:visible !important;;
}

.ui-layout-north .ui-layout-unit-content {
    overflow:visible !important;
}

// Fim bloco 001